<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SBConnection"
             connectionString="Endpoint=sb://iresultsclient.servicebus.windows.net/;SharedAccessKeyName=iResultsSendKey;SharedAccessKey=lBtgEc7v+v6XD5qDI4LlKtUXL9G0IWB1jUIkaTwXa/4="/>
	</connectionStrings>
</configuration>